<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center">Creative Arts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/icon/Arts.png" id="img" class="center">
  <ion-text>
    <h1>Bacheleor of Arts</h1>
    <h5>Graphic Design</h5>
  </ion-text>
  
  <ion-card id="title-card">
    <ion-text>
      <p>Communicating messages successfully via graphic design,
        requires a high level of understanding of the visual art of
        representation.
      </p>

      <p>This highly contextualised curriculum draws on contemporary
        design practice, 
        together with theoretical and historical cultural material.
      </p>

      <p>The degree equips learners with the knowledge to explore and
        challenge creative boundaries, through real-life design scenarios.
      </p>

      <p>They will hone their skills in fundamental design principles such as layout,
        form, typography, iconography and colour.
      </p>

      <p>analyse a wide range of
        professional design problems,
        and find creative and innovative solutions using various media.
      </p> 
      <p> 
        Traditional and digital tools will be explored in disciplines
        such as editorial design, web design, signage,
        advertising and packaging.
      </p> 
    </ion-text>
  </ion-card>

  <ion-button expand="block">Students Works</ion-button>

</ion-content>
