<ion-header>
  <ion-toolbar>
      <ion-title>Creative Arts</ion-title>
  </ion-toolbar>
</ion-header>
<!--this page comprehend a card within just some paragraphs, than we implemented
  an ion slider-->
<ion-content>
  <img src="../assets/icon/Arts.png" id="img" class="center-img">
  <ion-text class="sub-title">
    <h1>Bacheleor of Arts</h1>
    <h5>Graphic Design</h5>
  </ion-text>
  
  <ion-card id="title-card" class="info" >
    <ion-text >
      <p>Communicating messages successfully via graphic design,
        requires a high level of understanding of the visual art of
        representation.
      </p>

      <p>This highly contextualised curriculum draws on contemporary
        design practice, 
        together with theoretical and historical cultural material.
      </p>

      <p>The degree equips learners with the knowledge to explore and
        challenge creative boundaries, through real-life design scenarios.
      </p>

      <p>They will hone their skills in fundamental design principles such as layout,
        form, typography, iconography and colour.
      </p>

      <p>analyse a wide range of
        professional design problems,
        and find creative and innovative solutions using various media.
      </p> 
      <p> 
        Traditional and digital tools will be explored in disciplines
        such as editorial design, web design, signage,
        advertising and packaging.
      </p> 
    </ion-text>
  </ion-card>
  <!-- sub title add so it diveds the sections
  slider used ion-slide where the images can be scrolled sideways where it takes the image from the url assets
in the bottom can be add info of the work -->
  <ion-text class="sub-title">
    <h1>Student Work</h1>
  </ion-text>

    <ion-slides [options]="categorySlideOpts" class="student-slider">
      <ion-slide *ngFor="let i of [1, 2, 3, 4, 5]">
          <div class="student-card">
              <div
                  [ngStyle]="{ 'background-image': 'url(/assets/shapes.svg)' }"
                  class="background-image ion-activatable ripple-parent">
              </div>
              <h4 class="info">Info of the work</h4>
          </div>
      </ion-slide>
  </ion-slides>
</ion-content>

<app-footer-tab></app-footer-tab>
