<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center">Creative Arts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/icon/Arts.png" id="img" class="center">

  
  <ion-card id="title-card">
    <ion-list>
      <ion-item>
        <ion-label>Certificate</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Diploma</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Advanced Diploma</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Bachelor of Arts</ion-label>
        <ion-button href="/course-list" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<app-footer></app-footer>
