<ion-header>
  <ion-toolbar>
      <ion-title>Creative Arts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/icon/Arts.png" id="img" class="center">

  
  <ion-card id="title-card">
    <ion-list>
      <ion-item>
        <ion-label class="list">Certificate</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Diploma</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Advanced Diploma</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Bachelor of Arts</ion-label>
        <ion-button class="icon" shape="round" href='/course-list'>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<app-footer-tab></app-footer-tab>
