<ion-header>
  <ion-toolbar>
      <ion-title>Creative Arts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/icon/Arts.png" id="img" class="center-img">
  <ion-text>
    <h1>Bacheleor of Arts</h1>
  </ion-text>
  
  <ion-card id="title-card" >
    <ion-list>
      <ion-item>
        <ion-label class="list">Fine Arts</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Game Art and Visual Design</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Graphic Design</ion-label>
        <ion-button class="icon" shape="round" href="/course-info">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Interactive Media</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Product Design</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Spatial Design</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Creative Media Production</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Journalism</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Performing Arts</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label class="list">Fashion</ion-label>
        <ion-button class="icon" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<app-footer-tab></app-footer-tab>
