<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center">Creative Arts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/icon/Arts.png" id="img" class="center">
  <ion-text>
    <h1>Bacheleor of Arts</h1>
  </ion-text>
  
  <ion-card id="title-card">
    <ion-list>
      <ion-item>
        <ion-label>Fine Arts</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Game Art and Visual Design</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Graphic Design</ion-label>
        <ion-button shape="round" href="/course-info">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Interactive Media</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Product Design</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Spatial Design</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Creative Media Production</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Journalism</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Performing Arts</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Fashion</ion-label>
        <ion-button shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<app-footer></app-footer>
