<ion-header>
  <ion-toolbar>
      <ion-title>MCAST Prospectus</ion-title>
  </ion-toolbar>
</ion-header>
<!--Doing a grid rows of 2  and coulums of 2 by using ion-card and ion-grid
in ion- card we instered logo of the instituets in the middle with the name of the insitute
which card is contected with the href to go to the next page and it has a ripple effect
the images are called by using img src-->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <div class="ion-activatable ripple-parent">
          <ion-card id="title-card" href='/course-levels' >
            <img src="../assets/icon/Applied.png" id="img">
            <ion-card-title>Applied Science</ion-card-title>
          </ion-card>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
      <ion-col col-6>
        <div class="ion-activatable ripple-parent">
          <ion-card id="title-card" href='/course-levels'>
            <img src="../assets/icon/Arts.png" id="img">
            <ion-card-title>Creative Arts</ion-card-title>
          </ion-card>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <div class="ion-activatable ripple-parent">
          <ion-card id="title-card" href='/course-levels'>
            <img src="../assets/icon/Business.png" id="img">
            <ion-card-title>Business Management & Commerce</ion-card-title>
          </ion-card>
          <ion-ripple-effect></ion-ripple-effect>
        </div>      
      </ion-col>
      <ion-col col-6>
        <div class="ion-activatable ripple-parent">
          <ion-card id="title-card" href='/course-levels'>
            <img src="../assets/icon/IT.png" id="img">
            <ion-card-title>Information & Communication Technology</ion-card-title>
          </ion-card>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <div class="ion-activatable ripple-parent">
          <ion-card id="title-card" href='/course-levels'>
            <img src="../assets/icon/Community.png" id="img">
            <ion-card-title>Community Services</ion-card-title>
          </ion-card>
          <ion-ripple-effect></ion-ripple-effect>
        </div>    
      </ion-col>
      <ion-col col-6>
        <div class="ion-activatable ripple-parent">
          <ion-card id="title-card" href='/course-levels'>
            <img src="../assets/icon/Engineering.png" id="img">
            <ion-card-title>Engineering & Transport</ion-card-title>
          </ion-card>
          <ion-ripple-effect></ion-ripple-effect>
        </div>    
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <div class="ion-activatable ripple-parent">
          <ion-card id="title-card" href='/course-levels'>
            <img src="../assets/icon/Gozo.png" id="img">
            <ion-card-title>Gozo Campus</ion-card-title>
          </ion-card>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
      <ion-col col-6>
        <div class="ion-activatable ripple-parent">
          <ion-card id="title-card" href='/course-levels'>
            <img src="../assets/icon/Masters.png" id="img">
            <ion-card-title>Masters</ion-card-title>
          </ion-card>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
<!-- imported the footer custom component-->
<app-footer-tab></app-footer-tab>



